@inject NavState navState

<article id="AboutMe" class="flex flex-row justify-center py-8" @ref=ContactRef>
    <section class="rounded-lg p-6 text-neutral-700 shadow-lg w-11/12 md:w-5/6">
        <h2 class="mb-2 mt-0 text-6xl leading-tight font-bold font-mono text-center">About Me</h2>
        <div class="text-center my-4 flex justify-center">
            <img src="img/IMG-20220911-WA0036.png" alt="About me Image" class="h-auto max-w-sm rounded-lg shadow-none transition-shadow duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30" />
        </div>
        <p class="text-center font-mono text-lg">
            Hi there! I'm a passionate mountaineer who loves the challenge and adventure of climbing. 
            I'm also a highly skilled software engineer who enjoys working with different programming 
            languages such as Typescript, Rust, Golang, and C#. In addition to my love of technology, 
            I enjoy playing the guitar as a way to express my creativity and artistic talent. I have a 
            deep interest in physics and love learning about the science that governs our world. Overall, 
            I consider myself a well-rounded individual with technical, creative, and scientific skills 
            that enable me to enjoy a diverse and fulfilling life.
        </p>
    </section>
</article>

@code {
    ElementReference ContactRef { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender) navState.addElemRef(ContactRef);
    }
}
