@inject NavState navState

<article id="AboutMe" class="flex flex-row justify-center py-8" @ref=ContactRef>
    <section class="rounded-lg p-6 text-neutral-700 shadow-lg w-11/12 md:w-5/6">
        <h2 class="mb-2 mt-0 text-6xl leading-tight font-bold font-mono text-center">About Me</h2>
        <div class="text-center my-4 flex justify-center">
            <img src="img/IMG-20220911-WA0036.png" alt="About me Image" class="h-auto max-w-sm rounded-lg shadow-none transition-shadow duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30" />
        </div>
        <p class="text-justify">
            Autem accusam autem invidunt et accusam est veniam doming diam lorem diam amet et ex kasd in ut kasd aliquam 
            blandit veniam rebum kasd sanctus lorem feugait voluptua accusam labore et rebum nulla stet dolore eu amet erat 
            duo in gubergren nonumy dolor rebum lorem aliquyam diam sea ut diam duis eu consequat dignissim aliquam sed 
            aliquyam autem at vel et vero iriure ipsum dolor erat erat duo et kasd dolor elit duo eos eos vero ullamcorper 
            sadipscing vel erat diam cum clita nonumy facilisis no kasd et vero duis sit nonumy lorem at duo aliquyam 
            rebum ut elit ex.
        </p>
    </section>
</article>

@code {
    ElementReference ContactRef { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender) navState.addElemRef(ContactRef);
    }
}
