@using julyoc.github.io.Shared.Icons

<footer class="flex flex-row text-center items-center justify-center w-full text-primary p-1 font-mono fixed bottom-0">
    <div class="basis-full sm:basis-1/4">
        <strong class="text-lg">
            Julio Castro
        </strong>
    </div>
    <div class="basis-1/3 sm:basis-1/4">
        <a href="https://twitter.com/1998Julito" class='flex justify-center'>
            <span class='text-lg'>
                <TwitterIcon Class="h-8 w-8 mx-auto"></TwitterIcon>
                <span class='hidden sm:block'>
                    @@1998Julito
                </span>
            </span>
        </a>
    </div>
    <div class="basis-1/3 sm:basis-1/4">
        <a href="https://www.instagram.com/julito.1998/" class='flex justify-center'>
            <span class='text-lg'>
                <IgIcon Class="h-8 w-8 mx-auto"></IgIcon>
                <span class='hidden sm:block'>
                    @@julito.1998
                </span>
            </span>
        </a>
    </div>
    <div class="basis-1/3 sm:basis-1/4">
        <a href="mailto:julito.1998@hotmail.es" class='flex justify-center'>
            <span class='text-lg'>
                <EmailIcon Class="h-8 w-8 mx-auto"></EmailIcon>
                <span class='hidden sm:block'>
                    julito.1998@hotmail.es
                </span>
            </span>
        </a>
    </div>
</footer>

@code {

}
